//          Placeholders
//=============================== //


// Links

%link {
   color: $color-secondary;
   text-decoration: none;
   &:hover {
       color: $color-hover;
   } 
}


// Images
 %img {
padding: 10px;
}

// Nav Items
%nav-block {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

%nav-items li {
    margin-top: 1em;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-flow: column;
}