// Global Variables

// Fonts
$font-stack-primary: 'Helvetica Neue', sans-seriff;
$font-cont-size: 1em;

// Breakpoints
$max-break-mobile: 768px;
$min-break-desktop: 769px;
$max-width: 1400px;

// Colors
$white: #fff;

$color-primary: #58E1C1;
$color-secondary: #54DEFC;

$color-text: darkgrey;
$color-bg: navy;
$color-grid: black;
$color-buttons: red;
$color-hover: tomato;

// Buttons
$text-btn-size: 0.7em;

$color-btn-default: #51DDFC;

$color-btn-success: #63CB82;

$color-btn-error: #E4757B;

$color-btn-warning: #FD7856;

$color-btn-info: #927BC1;