.nav {
    @include nav-panel;
}

@include mq-break ('m') {
    .nav {
        margin-top: 21px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .nav a {
        margin-left: 15px;
    }
}